.main {
    background-color: #FFF9CA;
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2
}

video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
 }

.containers {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 300px);
}

.container {
    display: flex;
}

.vid {
    flex: 0 1 auto;
    height: 400px;
}

.main__videos {
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 75vh
}

.main__right {
    border-left: 0px solid #F7D033;
}

.main__controls {
    background-color:#F7D033;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 80%;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
    min-width: 80px;
    cursor: pointer;
    border-radius: 10px;
    outline: 0px;
    width: 120px;
    height: 70px;
    font-size: 15px;
}

#muteButton {
    width: 90px;
    font-size: 14px;
}

#vidButton {
    width: 125px;
    font-size: 14px;
}

.main__controls__button:hover {
    background-color: #FAE17D;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    text-align: center;
}

.main__chat_window {
    background-color:#F7D033;
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    list-style: none;
}

.message{
    background-color: #FFF9CA;
    padding:5px;
    margin:10px;
    border-radius: 10px;
}

.main__message_container {
    background-color:#F7D033;
    padding: 12px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: black;
    border: 0px;
    outline: 0px;
    background-color: #FFF9CA;
    border-radius: 10px;
}

#message-button {
    width: 50px;
}

.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}
